$containerWidth: 940px;
$baseFontSize: 18px;


$blue: #61C4D9;
$darkgreen: #365A49;

$tablets: 768px;
$phones: 480px;

@import './media.scss';

@import './normilize.scss';

@import './fonts.scss';
@import './layout.scss';

@import './components/hero.scss';
@import './components/header.scss';
@import './components/btn.scss';
@import './components/advantages.scss';
@import './components/why-section.scss';
@import './components/benefits.scss';
@import './components/slider.scss';
@import './components/work-team.scss';
@import './components/structure.scss';
@import './components/rewiews.scss';
@import './components/accordeon.scss';
@import './components/form.scss';
@import './components/modal.scss';
@import './components/radio.scss';
@import './components/checkbox.scss';
@import './components/map.scss';
@import './components/footer.scss';
@import './components/socials.scss';
@import './components/fixed-menu.scss';
@import './components/burger.scss';
