.accord-section {
    background: url('./img/bg/accord/accord-bg.png') center center / cover no-repeat;
}

.accord-container {
    padding: 0;
}

.accord {
    display: flex;
    color: #FFF;
    height: 100%;
}

.accord__title-box {
    padding-top: 15%;
    display: flex;
}

.accord__title {
    
    display: inline;
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px);
    text-transform: uppercase;
}

.accord__menu {
    position: absolute;
    height: 100%;
    right: 10%;

    @include tablets {
        right: 0;
    }
}

.accord__list {
    display: flex;
    height: 100%;
}

.accord__item {
    display: flex;

    &--active {
        .accord__item-content {
            width: rem(500px);
            padding: 10%;

            @include tablets {
                width: 100%;
            }
        }
    }
}

.accord__item-title-box {
    max-width: rem(110px);
    padding-bottom: 10%;

    &-milk {
        background: url('./img/bg/accord/milk-bg.png') center center / cover no-repeat;
    }

    &-fruit {
        background: url('./img/bg/accord/fruit-bg.png') center center / cover no-repeat;
    }

    &-wild {
        background: url('./img/bg/accord/wild-bg.png') center center / cover no-repeat;
    }

    @include phones {
        max-width: rem(75px);
    }
}

.accord__item-title {
    vertical-align: bottom;
    transform: rotate(-90deg) translateX(-725%);
    transform-origin: center;
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px);
    white-space: nowrap;
    @include phones {
        transform: rotate(-90deg) translateX(-825%);
    }
}

.accord__item-content {
    background: #333537;
    opacity: 0.9;
    width: 0;
    overflow: hidden;
}