.accord-section {
    background: url('./img/bg/accord/accord-bg.png') center center / cover no-repeat;
}

.accord-container {
    padding: 0;
}

.accord {
    display: flex;
    color: #FFF;
    height: 100%;
}

.accord__title-box {
    padding-top: 15%;
    display: flex;
}

.accord__title {

    display: inline;
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px);
    text-transform: uppercase;
}

.accord__menu {
    position: absolute;
    height: 100%;
    right: 5%;

    @include tablets {
        right: 0;
    }
}

.accord__list {
    display: flex;
    height: 100%;
}

.accord__item {
    display: flex;

    &--active {

        .accord__item-content {
            width: rem(500px);
            padding: 10%;

            @include tablets {
                width: 55vw;
            }
        }
    }
}

.accord__item-title-box {
    max-width: 5vw;
    padding-bottom: 10%;

    &-milk {
        background: url('./img/bg/accord/milk-bg.png') center center / cover no-repeat;
    }

    &-fruit {
        background: url('./img/bg/accord/fruit-bg.png') center center / cover no-repeat;
    }

    &-wild {
        background: url('./img/bg/accord/wild-bg.png') center center / cover no-repeat;
    }

    @include phones {
        max-width: 15vw;
    }
}

.accord__item-title {
    vertical-align: bottom;
    transform: rotate(-90deg) translateX(-85vh);
    transform-origin: center;
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px);
    white-space: nowrap;
}

.accord__item-content {
    background: #333537;
    opacity: 0.9;
    width: 0;
    overflow: hidden;
    transition: 0.6s;
}