.benefits {
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 2%;

    &::before {
        content: url('./img/why-pic/shape.png');
        position: absolute;
        top: rem(60px);
        right: 0;
        transform: translateX(50%);


    }

    &:last-child {

        &:before {
            display: none;
        }
    }
}

.benefits__image {
    width: rem(128px);
    height: rem(128px);
    background: #F2F5F4;
    border-radius: rem(128px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(20px);
}

.benefits__icon {
    width: rem(64px);
    height: auto;
}

.benefits__title {
    font-size: rem(27px);
    font-weight: bold;
    margin-bottom: rem(18px);
    color: #000;
}