.btn {
    padding: rem(21px) rem(41px);
    font-weight: 800;
    text-transform: uppercase;
    border-radius: rem(50px);
    border: none;
    outline: none;
    align-self: center;
    transition: 0.3s;

    &-theme-white {
        color: $darkgreen;
        background-color: #fff;

        &:hover {
            color: #fff;
            background-color: $darkgreen;
        }
    }

    &.btn-theme-green {
        color: #fff;
        background-color: $darkgreen;

        &:hover {
            color: $darkgreen;
            background-color: #fff;
            cursor: pointer;
        }
    }

    &.btn-theme-transparent {
        background-color: transparent;
        padding: 0;
        margin-left: rem(20px);
        color: $darkgreen;
        font-weight: normal;
        text-transform: none;
        cursor: pointer;
    }
}