.checkbox {
    display: flex;

    @include phones {
        justify-content: center;
    }
}

.checkbox__input {
    display: flex;
    cursor: pointer;
}

.checkbox__visible {
    width: rem(25px);
    height: rem(25px);
    display: flex;
    background-color: #FFF;
    margin-right: rem(10px);
    align-items: center;
    justify-content: center;
    border-radius: rem(4px);

    &:last-child {
        margin-right: 0;
    }

    &::before {
        content: "";
        background: url('./img/delivery-pic/checkmark.svg') center center no-repeat;
        width: rem(13px);
        height: rem(13px);
        display: none;
    }
}

.checkbox__elem {
    display: none;

    &:checked~.checkbox__visible {
        &::before {
            display: block;
        }
    }
}