.fixed-menu {
    position: fixed;
    top: 36%;
    right: 2%;
}

.fixed-menu__item {
    margin-bottom: rem(5px);

    &:last-child {
        margin-bottom: 0;
    }
}

.fixed-menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(18px);
    height: rem(18px);
    border-radius: 50%;
    border: rem(1px) solid transparent;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background-color: #FFF;
    }
}

.fixed-menu__link--active {
    width: rem(18px);
    height: rem(18px);
    border: rem(1px) solid #FFF;
}