.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    height: rem(100px);
    padding: 0 8%;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem(940px);

    @include phones {
        flex-direction: column;
        justify-content: space-around;
        padding: 1% 0;
    }
}

.adress {
    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.adress__title {
    font-size: rem(21px);
    color: #000;
    font-style: normal;

    @include phones {
        font-size: rem(19px);
    }
}

.phone-footer {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.phone__number-footer {
    color: $darkgreen;
}

.phone__icon-footer {
    fill: $darkgreen;
}