.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 53px;
    height: 38px;
    margin-right: 4%;
    fill: #FFF;
    
}

.menu {
    flex: 1;
    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
    display: flex;
    align-items: center;
    margin-right: 1%;
    margin-left: 4.5%;
    @include tablets {
        display: none;
    }
}

.phone__number {
    font-style: normal;
    font-size: rem(22px);
}

.phone__icon {
    display: block;
    width: rem(14px);
    height: rem(14px);
    margin-right: rem(6px);
    fill: #FFF;
}