.hero-section {
    background: url('./img/bg/hero/big-list.png') right bottom no-repeat;
    background-color: $blue;
    color: #fff;

    @include tablets {
        background-position: right 30%;
    }

    @include phones {
        background-position: right 10%;
        background-size: 70%;
    }

    &::before {
        content: url('./img/bg/hero/list3.png');
        position: absolute;
        left: 1.8%;
        bottom: rem(-38px);

        @include tablets {
            display: none;
        }
    }

    &::after {
        content: url('./img/bg/hero/berries.png');
        position: absolute;
        right: 0;
        bottom: rem(-38px);

        @include tablets {
            display: none;
        }
    }
}

.hero-container {
    padding: rem(24px) 0 rem(50px);
    background: url('./img/bg/hero/chocolate.png') right center / 50% auto no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablets {
        background: url('./img/bg/hero/comp.png') center 30% / 50% auto no-repeat;
        padding: rem(24px) 0 rem(110px);
    }

    @include phones {
        background: url('./img/bg/hero/comp.png') center 15% / 80% auto no-repeat;
        padding: rem(24px) 0 20%;
    }
}

.hero__title-section {
    max-width: 42%;

    @include tablets {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    @include phones {
        padding: 0 5%;
    }
}

.hero__main-title {
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: rem(17px);

    @include tablets {
        margin-bottom: rem(12px);
    }

    @include phones {
        font-size: rem(40px);
    }
}

.hero__subtitle {
    font-size: rem(21px);
    padding-right: 10%;
    margin-bottom: rem(51px);

    @include tablets {
        padding: 0 10%;
        margin-bottom: rem(23px);
    }
}