.modal {
    display: none;
    border-radius: 5px;
}


.modal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FFF;
    padding: 30px 60px;
    font-size: 20px;
    @include phones {
        padding: 0;
    }
}

.modal__content {
    margin-bottom: 30%;
    font-weight: 500;
    color: #000;
    white-space: nowrap;

    @include phones {
        margin-bottom: 15%;
        white-space: normal;
    }
}

.modal--error {
    .modal__content {
        color: red;
    }
}