
.modal{
    display: none;
    border-radius: 5px;
}


.modal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    padding: 30px 60px;
    font-size: 20px;
}

.modal__content {
    margin-bottom: 30%;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
}

.modal--error{
    .modal__content{
        color: red;
    }
}