.radio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(20px);

    &:last-child {

        margin-bottom: 0;
    }

    @include phones {
        justify-content: center;
    }
}

.radio__box {
    display: inline-flex;
    margin-right: rem(23px);
    cursor: pointer;

    @include tablets {
        margin-bottom: rem(14px);
    }

    &:last-child {
        margin-right: 0;
        margin-bottom: 0;

        @include tablets {
            margin-bottom: 0;
        }
    }
}

.radio__title {
    display: inline;
    user-select: none;
}

.radio__visible {
    width: rem(25px);
    height: rem(25px);
    display: flex;
    border-radius: 50%;
    background-color: #FFF;
    margin-right: rem(10px);
    align-items: center;
    justify-content: center;

    &:last-child {
        margin-right: 0;
    }

    &::before {
        content: "";
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;
        background-color: $darkgreen;
        display: none;
    }
}

.radio__elem {
    display: none;

    &:checked~.radio__visible {
        &::before {
            display: block;
        }
    }
}