.slider-section {
    background-color: #F8FAF9;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__arrow {
    position: absolute;
    top: 40%;

    @include tablets {
        top: 15%;
    }
}

.slider__arrow--left {
    left: -4%;

    @include tablets {
        left: 20%;
    }

    @include phones {
        left: 0;
    }
}

.slider__arrow--right {
    right: -4%;

    @include tablets {
        right: 20%;
    }

    @include phones {
        right: 0;
    }
}

.slider__arrow--pict {
    width: rem(15px);
    stroke: black;
}

.slider__arrow--pict--left {
    transform: rotate(180deg);
}

.slider__item {
    display: flex;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
    }
}

.slider__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

    @include tablets {
        width: 80%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }

}

.slider__col--left {
    justify-content: center;

    @include tablets {
        width: 50%;
    }

    @include phones {
        width: 70%;
    }
}

.slider__col--right {
    padding-left: 7%;
    padding-right: 4%;

    @include tablets {
        padding: 0;
    }
}

.slider__structure--block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: rem(91px);
    height: rem(91px);
    background-color: #60AACC;
    border-radius: 4px;
    margin-bottom: rem(23px);

    @include tablets {
        display: none;
    }
}

.slider__structure--pic {
    fill: #FFF;
    width: rem(45px);
    height: rem(45px);
}

.slider__structure--text {
    text-transform: uppercase;
    color: #FFF;
    font-size: rem(15px);
    font-style: bold;
    margin-top: 5%;

    @include tablets {
        text-align: center;
    }
}

.slider__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: rem(36px);
    color: #000;
    margin-bottom: rem(23px);
}

.slider__text {
    margin-bottom: rem(23px);
    text-align: center;
}

.slider__values--row {
    display: flex;
    align-items: center;
    margin-bottom: rem(23px);
}

.slider__values {
    display: flex;
    flex-direction: column;
}

.slider__values--price {
    font-style: normal;
    font-weight: 300;
    font-size: rem(60px);
    color: #000;
}

.slider__values--price-curr {
    text-transform: lowercase;
    font-size: rem(42px);
}

.slider__values--cell {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.slider__values--worth {
    font-weight: bold;
    color: #000;
}

.slider__btn {
    @include phones {
        font-size: rem(16px);
        padding: rem(20px) rem(28px);
    }
}