.why-section {
    background: url('./img/bg/why/leaf.png') left center no-repeat;

    @include tablets {
        background-position: left 10%;
    }

    @include phones {
        background: none;
    }

    &::before {
        content: url('./img/bg/why/malina.png');
        position: absolute;
        left: 0;
        bottom: rem(-110px);

        @include phones {
            display: none;
        }
    }
}

.why-container {
    align-items: center;
}

.headline {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    margin-bottom: rem(50px);

    @include tablets {
        max-width: 100%;
    }
}

.why-section__title {
    margin-bottom: rem(19px);

}

.why-section__subtitle {
    text-align: center;
    padding: 0 5%;

    @include tablets {
        padding: 0 20%;
    }

    @include phones {
        padding: 0;
    }
}