.why-section {
    background: url('./img/bg/why/leaf.png') left center no-repeat;

    &::before {
        content: url('./img/bg/why/malina.png');
        position: absolute;
        left: 0;
        bottom: rem(-110px);
    }
}

.why-container {
    align-items: center;
}

.headline {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    margin-bottom: rem(50px);
}

.headline__title {
    margin-bottom: rem(19px);
}

.headline__subtitle {
    text-align: center;
    padding: 0 5%;
}