.structure {
  top: 50%;
  left: 50%;
  position: absolute;
  width: rem(273px);
  height: rem(344px);
}

.structure__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.structure__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stricture__icon {
  width: rem(32px);
  height: rem(32px);
}