.modal {
    display: none;
    border-radius: 5px;
    overflow: hidden;
}


.modal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFF;
    font-size: 20px;

    @include tablets {
        padding: 0;
    }
}

.modal__content {
    margin-bottom: 10%;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
    align-items: center;

    @include tablets {
        white-space: normal;
    }
}

.modal--error {
    .modal__content {
        color: red;
    }
}