.socials {
    width: rem(140px);
}

.socials__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.socials__item {
    width: rem(20px);
    height: rem(20px);
}

.socials__img {
    width: rem(20px);
    height: rem(20px);
    fill: #B3B3B3;
    transition: 0.3s;

    &:hover {
        fill: #000;
        transition: 0.3s;
    }
}